@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    /* Config tablet */
    body{
        background-image: linear-gradient(to top, #49a09d, #663898);
    }

    section#login{
        width: 90vw;
        height: 280px;
    }

    div#img {
        float: left;
        width: 30%;
        height: 100%;
    }

    div#form{
        float: right;
        width: 70%;
    }

    div#form > p {
        font-size: 1em;
        margin: 10px 0px;
    }
}

@media screen and (min-width:992px) {
    /* Config desktop */
    body{
        background-image: linear-gradient(to top, #49a09d, #663898);
    }

    section#login{
        width: 1000px;
        height: 350px
    }

    div#img{
        float: right;
        width: 28%;
        height: 100%;
    }

    div#form{
        float: left;
        width: calc(100% - 30%);
    }

    div#form > h1 {
        font-size: 2em;
     }

    div#form > p {
        font-size: 1.2em;
        margin: 20px 0px;
     }
}